body{
	margin: 0;
	background: #444;
	font-family: Arial;
}
nav{
	position: fixed;
	background:linear-gradient(#fff, #eee, #ccc);
	z-index:5;
	border-bottom: 1px solid #222;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	height: 35px;
	right: 0;
	left: 0;
	top: 0;
}
.mnp_items{
	display: inline-block;
	color: #000;
	padding: 0;
	border-left:1px solid #888; 
	padding-left: 1em;
	padding-right: 1em;
	line-height: 35px;
	cursor: pointer;
	font-weight: bold;

}
.entry{
	border:1px solid #222;
	width:250px;
	background: #fff
}
article{
	padding:0.5em;
	/*border-left: 15px solid blue;*/
	margin: 1em;
	background: rgba(255,255,255,0.85);
	box-shadow: 0px 2px 20px rgba(0,0,0,0.5); 
	overflow: hidden;
	text-align: center;
}
.bt_opc{
	margin: 0.3em;
	display: inline-block;
	text-decoration: none;
	background: #444;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-bottom: 3px solid blue;
	padding: 0.3em;
	font-weight: bold;
	color: #fff;
	transition:all 0.1s;

}

.bt_opc:hover{
	border-bottom: 3px solid green;
}
.bt_opc:active{
	border-bottom: 3px solid red;
	box-shadow: 0 0 0px rgba(0,0,0,0.5);
}
#bt_agregar{
line-height: 35px;
padding: 0.7em;
background: #eee;
text-decoration: none;
color: #000;
font-weight: bold;
box-shadow: 0 0 10px rgba(0,0,0,0.5); 
border-bottom-right-radius:5px;
}

.numerito{
	font-size: 10px;
	color: #555;
}
.bold{
	font-weight: bold;
}
.item{
	margin-top:10px;
}
.itnom{
	width: 150px;
	display: inline-block;
	font-weight: bold;
	margin: 0;
}
#menu-usr{
	background-color: #222;
	border-bottom: 1px solid #aaa;
	position: relative;
	width: 100%;
	height: auto;
	color: #fff;
	font-weight: bold;
	border-bottom-right-radius:5px;
}
ul{
	margin: 0;
}

li{
	cursor: pointer;
	margin: 0 auto;
	line-height: 25px;
	display: inline-block;
	text-decoration: none;
	transition:all 0.2s;
}
li:hover{
	background: #888;
}

#princ{
	display: block;
	margin-left: 150px;
	margin-top: 30px;

}
aside{
	position: fixed;
	top: 35px;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	float:left;
	background:#eee;
	width: 150px;
}
#listit{
	margin: 0;
	padding:0;
	color:#33b;
	cursor: pointer;
	text-align: center;
}
#listit2{
	margin: 0;
	padding:0;
	color:#b33;
	cursor: pointer;
	text-align: center;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background:#eee;
}

::-webkit-scrollbar-thumb {
background: #444; 
}

::-webkit-scrollbar-thumb:window-inactive {
background:#666;
}

::-webkit-scrollbar-track:window-inactive {
background:#aaa;
}